@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

document,
body {
    margin: 0px;
    font-family: 'Montserrat';
}

body * {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

header {
    align-items: center;
    color: #555;
    border-bottom: solid 1px #CCC;
    background-color: #F2F2F2;
    height: 100px;
}

nav {
    height: 50px;
    border-bottom: solid 1px #CCC;
    justify-content: flex-end;
    padding-right: 20px;
}

button {
    background-color: transparent;
    border: 0px;
    text-decoration: none;
    font-size: 1.1em;
    color: #666;
    margin-right: 15px;
}

#bigger {
    font-size: 2em;
}

#smaller {
    font-size: 1em;
}

.content {
    padding: 40px;
    font-size: 1.4em;
    color: #666;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
}


/***************/
/* Ocean Theme */
/***************/

.ocean header {
    background: #434a6c;
    color: white;
    font-family: 'Montserrat';
}

.ocean button,
.ocean .content {
    color: #434a6c;
}

.ocean .content {
    background: #99cccc;
    line-height: 1.6em;
}

.ocean header,
.ocean nav {
    border-bottom: solid 1px #434a6c;
}

/****************/
/* Desert Theme */
/****************/

.desert header {
    background: #A8651E;
    color: #EFDEC2;
}

.desert button {
    color: #A8651E;
}

.desert .content {
    background: #EFDEC2;
    color: #A8651E;
}

.desert header,
.desert nav {
    border-bottom: solid 1px #774713;
}


/***********************/
/* High Contrast Theme */
/***********************/

.high-contrast header {
    background: black;
    color: white;
}

.high-contrast .content {
    background: white;
    color: black;
}

.high-contrast header,
.high-contrast nav {
    border-bottom: solid 1px black;
}

.high-contrast header {
    background: black;
    color: white;
}

.high-contrast button {
    color: black;
}

.maple header {
    background: #ffcb48;
    color: rgb(239, 81, 70);
    font-family: 'Montserrat';
}

.maple button,
.maple .content {
    color: #d85942;
}

.maple .content {
    background: #ff9563;
    line-height: 1.6em;
}

.maple header,
.maple nav {
    border-bottom: solid 1px #78330b;
}


.hotpink header {
    background: hotpink;
    color: rgb(105, 23, 101);
    font-family: 'Montserrat';
}

.hotpink button,
.hotpink .content {
    color:rgb(105, 23, 101);
}

.hotpink .content {
    background: hotpink;
    line-height: 1.6em;
}

.hotpink header,
.hotpink nav {
    border-bottom: solid 1px rgb(255, 109, 248);
}