@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
html {
    scroll-behavior: smooth;
}
body * {
    box-sizing: border-box;
}
body { font-family: "Instrument Serif", serif;
    margin: 0;
    box-sizing: border-box; 
    border: dotted 1px #CCC;    
    padding: 10px;             
    margin: 10px;              
    width: 50vh;             
}
h1 {
    font-family: "Instrument Serif", serif;
    font-size: 2.5em;
    color: black;
}

h2 {
    font-family: "Patua One", serif;
    font-size: 1.8em;
    color:black;
}
